{% extends '@Platform/layout/dashboard.html.twig' %}

{% block meta_title %}
    Admin Panel
{% endblock %}

{% block navbar_brand_title %}
    Admin Panel
{% endblock %}

{% block page_sidebar %}
    <div class="py-2 px-2" id="sidebar-menu">
        {{ render_sidebar_menu(build_menu('admin_sidebar')) }}
    </div>
{% endblock %}

{% block page_body %}
    <div id="page-content">
        {% block page_content_full %}
            <div class="py-4 px-2">
                <h3 class="mb-3">{% block page_title %}Admin panel{% endblock %}</h3>
                {% block page_content %}Admin panel{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}